<div class="jumbotron">
  <h1>FastAdmin</h1>
  <p class="lead">基于 Bootstrap 与 ThinkPHP 5.x 的快速后台开发框架，TypeScript 版本。</p>
  <p>
    <a class="btn btn-primary btn-lg" href="/admin.php/index/login">进入后台</a>
    <a class="btn btn-default btn-lg" href="/index/user/login">会员登录</a>
  </p>
</div>
<div class="row">
  <div class="col-md-4"><h3>一键 CRUD</h3><p>从数据库表自动生成实体 + 控制器 + 视图。</p></div>
  <div class="col-md-4"><h3>插件管理</h3><p>支持安装、启用、停用、打包插件，热挂 Hook 体系。</p></div>
  <div class="col-md-4"><h3>权限分级</h3><p>角色组 + 规则树 + 数据范围限制。</p></div>
</div>
