<form id="{{ formId|default('add-form') }}" class="form-horizontal" role="form"
      data-toggle="validator" method="POST" action="{{ formAction }}">
  <input type="hidden" name="__token__" value="{{ __token__ }}">
  {{ idsField|raw }}
  {{ fields|raw }}
  <div class="form-group layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
      <button type="submit" class="btn btn-success btn-embossed disabled">{{ __('OK') }}</button>
      <button type="reset" class="btn btn-default btn-embossed">{{ __('Reset') }}</button>
    </div>
  </div>
</form>
{{ extraScripts|raw }}
